Repository hack4impact-uiuc/life-after-hate, pull requests merged in 2019-10, with the labels that each got.

#15 Docker/Test CI
  .eslintrc.json
  .github/workflows/docker.yml
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/test/example.js
  scripts/setup_ci.sh
Labels: backend

#18 Updated LAHUtility script to use Node
  .gitignore
  backend/Dockerfile
  backend/package.json
  docker-compose.yml
  frontend/Dockerfile
  frontend/package.json
  package-lock.json
  package.json
  scripts/lahutil
Labels: backend, frontend

#17 Add now.sh deployment
  .github/workflows/docker.yml
  backend/app.js
  backend/appListener.js
  backend/package-lock.json
  backend/package.json
  now.json
Labels: backend

#25 Added Joi Framework
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/sample.js
Labels: backend

#19 Map split landing page
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/pin.js
  frontend/src/index.js
  frontend/src/pages/mapView.js
Labels: frontend

#20 Passportjs integration
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/auth/login.js
  backend/utils/passport-setup.js
  package-lock.json
  package.json
Labels: backend

#21 Built basic CRUD functionality for users
  backend/app.js
  backend/models/User.js
  backend/package.json
  backend/routes/api/index.js
  backend/routes/api/users.js
Labels: backend

#31 Searchbar component and directory organization
  frontend/src/App.js
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/search.svg
  frontend/src/components/Pin/index.jsx
  frontend/src/components/SearchBar/index.jsx
  frontend/src/components/SearchBar/styles.scss
  frontend/src/pages/MapView/index.jsx
  frontend/src/styles/App.scss
Labels: frontend

#30 Created endpoint to GET current user info
  backend/models/User.js
  backend/routes/api/users.js
Labels: backend

#33 fixed enum issue
  backend/app.js
  backend/models/User.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/auth/login.js
  backend/utils/auth-middleware.js
Labels: backend
