Repository hack4impact-uiuc/life-after-hate, pull requests merged in 2019-11, with the labels that each got.

#37 Login page
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/pages/Login/images/google-logo.png
  frontend/src/pages/Login/images/google-signin.png
  frontend/src/pages/Login/images/lah-logo.png
  frontend/src/pages/Login/index.jsx
  frontend/src/pages/Login/styles.scss
Labels: frontend

#34 Created resource cards to display on search submit
  frontend/src/App.js
  frontend/src/components/ResourceCard/index.jsx
  frontend/src/components/ResourceCard/styles.scss
  frontend/src/components/SearchBar/index.jsx
  frontend/src/components/SearchBar/styles.scss
  frontend/src/pages/MapView/index.jsx
  frontend/src/pages/MapView/styles.scss
Labels: frontend

#40 Added dropdown menu to give search suggestions
  frontend/src/components/SearchBar/index.jsx
  frontend/src/components/SearchBar/styles.scss
  frontend/src/pages/MapView/index.jsx
Labels: frontend

#35 Finished writing resource endpoints
  backend/models/Resource.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/index.js
  backend/routes/api/resources.js
  package-lock.json
  package.json
Labels: backend

#49 Extracted sort function and fuzzy search options into utils file
  backend/routes/api/resources.js
  backend/utils/resource-utils.js
Labels: backend

#39 Login Google auth and Router setup
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/users.js
  backend/utils/auth-middleware.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/PrivateRoute/index.jsx
  frontend/src/pages/Login/index.jsx
  frontend/src/pages/Login/styles.scss
  frontend/src/utils/api.js
Labels: backend, frontend

#52 Finished Auth Flow
  backend/app.js
  backend/routes/api/auth/index.js
  backend/routes/api/auth/login.js
  backend/routes/api/auth/logout.js
  backend/routes/api/index.js
  backend/utils/passport-setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/images/lah-logo.png
  frontend/src/components/Loader/index.jsx
  frontend/src/components/Loader/styles.scss
  frontend/src/components/PrivateRoute/index.jsx
  frontend/src/pages/Login/index.jsx
  frontend/src/utils/api.js
Labels: backend, frontend

#38 set role, approve user, delete user require admin authorization
  .github/pull_request_template.md
  backend/routes/api/auth/login.js
  backend/routes/api/users.js
Labels: backend

#55 added 'email' field and permissions
  .DS_Store
  backend/models/User.js
  backend/routes/api/users.js
  backend/utils/passport-setup.js
  package-lock.json
  package.json
Labels: backend

#54 Created basic navbar
  frontend/src/assets/images/lah-logo-2.png
  frontend/src/assets/images/user.svg
  frontend/src/components/Navbar/index.jsx
  frontend/src/components/Navbar/styles.scss
  frontend/src/components/PrivateRoute/index.jsx
  frontend/src/components/SearchBar/styles.scss
  frontend/src/utils/api.js
Labels: frontend

#59 Added VSCode Debugger Support
  .vscode/launch.json
  backend/package.json
  docker-compose.yml
Labels: backend

#61 Navbar Signout Functionality / Conditional Render
  backend/utils/passport-setup.js
  frontend/src/components/Navbar/index.jsx
  frontend/src/components/PrivateRoute/index.jsx
  frontend/src/utils/api.js
Labels: backend, frontend

#65 Auth Stubbing for Middleware
  backend/package-lock.json
  backend/package.json
  backend/test/auth_stubs.js
Labels: backend

#68 error-handler, error-wrap, resources.js and users.js integration
  backend/app.js
  backend/routes/api/resources.js
  backend/routes/api/users.js
  backend/utils/error-handler.js
  backend/utils/error-wrap.js
Labels: backend

#47 Linked backend search endpoint to frontend search and minor styling changes
  .eslintrc.json
  backend/package-lock.json
  frontend/src/App.js
  frontend/src/components/ResourceCard/index.jsx
  frontend/src/components/ResourceCard/styles.scss
  frontend/src/components/SearchBar/index.jsx
  frontend/src/components/SearchBar/styles.scss
  frontend/src/pages/MapView/index.jsx
  frontend/src/pages/MapView/styles.scss
  frontend/src/utils/api.js
Labels: backend, frontend

#71 Integration of Mock Generation with CI
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  assets/resource_template
  assets/resource_template.json
  backend/package-lock.json
  backend/package.json
  backend/utils/generate_mock_data.js
  scripts/generate_mock_data.js
  scripts/lahutil
  scripts/setup_ci.sh
Labels: backend

#73 Minor fixups in map display for testing
  backend/utils/resource-utils.js
  frontend/public/manifest.json
  frontend/src/components/ResourceCard/styles.scss
  frontend/src/pages/MapView/styles.scss
Labels: backend, frontend

#74 Built out User testing
  .github/workflows/docker.yml
  backend/test/user.test.js
  scripts/setup_ci.sh
Labels: backend

#70 Directory Page
  backend/routes/api/resources.js
  frontend/src/App.js
  frontend/src/assets/images/close.svg
  frontend/src/assets/images/edit.svg
  frontend/src/assets/images/location.svg
  frontend/src/assets/images/search.svg
  frontend/src/assets/images/tag.svg
  frontend/src/components/Modal/index.jsx
  frontend/src/components/Modal/styles.scss
  frontend/src/components/Navbar/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/SearchBar/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
  frontend/src/utils/api.js
Labels: backend, frontend

#78 Lat long conversion
  backend/models/Resource.js
  backend/routes/api/resources.js
Labels: backend

#81 Refactored search to handle custom field weights
  backend/routes/api/resources.js
  backend/utils/resource-utils.js
  frontend/src/utils/api.js
Labels: backend, frontend

#83 Refactored search to support custom search ranking
  .eslintrc.json
  frontend/src/utils/api.js
Labels: backend, frontend

#80 Automatically create resource tags from notes using keyword extraction.
  backend/package-lock.json
  backend/package.json
  backend/routes/api/resources.js
Labels: backend
