Repository hack4impact-uiuc/life-after-hate, pull requests merged in 2019-12, with the labels that each got.

#77 Finished backend Resource tests
  backend/test/auth_stubs.js
  backend/test/resources.js
  backend/test/user.test.js
Labels: backend

#90 Redux for Global State Management (Auth, Loaders, API)
  backend/routes/api/resources.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Loader/mini-loader.jsx
  frontend/src/components/Navbar/index.jsx
  frontend/src/components/PrivateRoute/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/Login/index.jsx
  frontend/src/pages/MapView/index.jsx
  frontend/src/redux/actions/api.js
  frontend/src/redux/actions/auth.js
  frontend/src/redux/actions/loader.js
  frontend/src/redux/middleware/api_middleware.js
  frontend/src/redux/reducers/auth.js
  frontend/src/redux/reducers/index.js
  frontend/src/redux/reducers/loading.js
  frontend/src/redux/store.js
  frontend/src/utils/api.js
  frontend/src/utils/apiHelpers.js
Labels: backend, frontend

#79 Upgrade Search Bar to two inputs with location input
  frontend/src/assets/images/location-icon-highlighted.svg
  frontend/src/assets/images/location-icon.svg
  frontend/src/assets/images/search.svg
  frontend/src/components/Navbar/styles.scss
  frontend/src/components/ResourceCard/index.jsx
  frontend/src/components/ResourceCard/styles.scss
  frontend/src/components/SearchBar/index.jsx
  frontend/src/components/SearchBar/styles.scss
  frontend/src/pages/MapView/index.jsx
  frontend/src/pages/MapView/styles.scss
Labels: frontend

#86 Refactored Auth Backend for Testability & Dev
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  backend/app.js
  backend/routes/api/auth/login.js
  backend/routes/api/auth/logout.js
  backend/routes/api/users.js
  backend/test/auth_stubs.js
  backend/test/resources.js
  backend/test/user.test.js
  backend/utils/auth-middleware.js
  backend/utils/auth/auth_validators.js
  docker-compose.yml
  scripts/lahutil
Labels: backend

#94 changed manual input lat long
  backend/routes/api/resources.js
Labels: backend

#97 Revert "changed manual input lat long"
  backend/routes/api/resources.js
Labels: backend

#101 Mock data to have resources lie in the US
  assets/resource_template.json
  backend/utils/generate_mock_data.js
Labels: backend

#100 Directory Refresh & Modal Autofill
  frontend/src/components/Modal/index.jsx
  frontend/src/components/Modal/styles.scss
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
Labels: frontend

#102 Finished the styling for the map view cards
  frontend/src/components/ResourceCard/index.jsx
  frontend/src/components/ResourceCard/styles.scss
  frontend/src/components/SearchBar/styles.scss
  frontend/src/pages/MapView/index.jsx
  frontend/src/pages/MapView/styles.scss
Labels: frontend

#103 Added styling to directory
  frontend/src/assets/images/close.svg
  frontend/src/assets/images/close2.svg
  frontend/src/assets/images/location-directory.svg
  frontend/src/assets/images/search-directory.svg
  frontend/src/assets/images/tag-directory.svg
  frontend/src/components/Modal/index.jsx
  frontend/src/components/Modal/styles.scss
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
Labels: frontend

#105 Filter resources latlng
  backend/routes/api/resources.js
  backend/test/resources.js
  backend/utils/resource-utils.js
Labels: backend

#106 Fixed the CSS styling leaks
  frontend/src/components/Modal/index.jsx
  frontend/src/components/Modal/styles.scss
  frontend/src/pages/DirectoryView/styles.scss
Labels: frontend

#96 Protected resource endpoints/tests.
  backend/routes/api/resources.js
  backend/test/example.js
  backend/test/resource.test.js
  backend/test/setup.test.js
  backend/test/user.test.js
Labels: backend

#107 Styling for pin popups
  frontend/src/pages/MapView/index.jsx
  frontend/src/pages/MapView/styles.scss
Labels: frontend

#104 Modified /filter endpoint to return distance from current search location
  backend/routes/api/resources.js
  backend/utils/resource-utils.js
Labels: backend

#109 Gw/update resource tests
  backend/routes/api/resources.js
  backend/test/resource.test.js
Labels: backend

#110 pins
  frontend/src/assets/images/marker.svg
  frontend/src/components/Pin/index.jsx
  frontend/src/pages/MapView/index.jsx
Labels: frontend

#111 changed DEFAULTROLE to admin
  backend/utils/passport-setup.js
Labels: backend

#113 Modal input fixes and resource card on click
  frontend/src/components/Modal/index.jsx
  frontend/src/components/Modal/styles.scss
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
Labels: frontend

#114 search by single tag
  backend/routes/api/resources.js
  backend/utils/resource-utils.js
Labels: backend

#118 Geocoding: Switch Lat/Long
  backend/routes/api/resources.js
Labels: backend

#115 Changed to layering system
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/images/marker.png
  frontend/src/components/ResourceCard/index.jsx
  frontend/src/pages/MapView/index.jsx
  frontend/src/pages/MapView/styles.scss
Labels: frontend

#116 Fix distance calculation in backend, display distance from search location on frontend
  backend/routes/api/resources.js
  backend/utils/resource-utils.js
  frontend/src/components/ResourceCard/index.jsx
  frontend/src/pages/MapView/index.jsx
  frontend/src/pages/MapView/styles.scss
  frontend/src/utils/api.js
Labels: backend, frontend

#99 Map Zoom To Selection
  backend/routes/api/resources.js
  backend/test/resource.test.js
  frontend/src/assets/images/marker-atlas.png
  frontend/src/components/ResourceCard/index.jsx
  frontend/src/pages/MapView/index.jsx
Labels: backend, frontend

#121 Directory search by tag and location
  frontend/src/components/Modal/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/SearchBar/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/utils/api.js
Labels: frontend

#120 [WIP] Added a button on map view to open modal window w/ info
  frontend/src/assets/images/marker-atlas.png
  frontend/src/assets/images/maximize-white.svg
  frontend/src/assets/images/maximize.svg
  frontend/src/components/ResourceCard/index.jsx
  frontend/src/components/ResourceCard/styles.scss
  frontend/src/pages/MapView/index.jsx
  frontend/src/pages/MapView/styles.scss
Labels: frontend

#122 Fixed search by keyword in map and directory
  frontend/src/utils/api.js
Labels: frontend
