Repository hack4impact-uiuc/life-after-hate, pull requests merged in 2020-06, with the labels that each got.

#373 H4I ESLint Plugin Migration
  .eslintrc.json
  backend/test/auth_stubs.js
  backend/test/resource.test.js
  backend/test/setup.test.js
  frontend/src/App.js
  frontend/src/components/Modal/UserModal/index.jsx
  frontend/src/pages/MapView/CardView/index.jsx
  package-lock.json
  package.json
Labels: backend, frontend, infrastructure

#350 added slider
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.js
  frontend/src/pages/MapView/RadiusFilter/index.jsx
  frontend/src/pages/MapView/RadiusFilter/styles.scss
  frontend/src/pages/MapView/index.jsx
  frontend/src/redux/actions/search.js
  frontend/src/redux/reducers/index.js
  frontend/src/redux/reducers/search.js
  frontend/src/utils/api.js
Labels: frontend

#386 Run Prettier on JSX Files
  frontend/src/components/Loader/mini-loader.jsx
  frontend/src/components/Modal/index.jsx
  frontend/src/pages/MapView/RadiusFilter/index.jsx
  package.json
Labels: frontend

#385 Reset Map View Functionality
  frontend/cypress/integration/features/resource_map.spec.js
  frontend/src/components/Navbar/index.jsx
  frontend/src/pages/MapView/Map/index.jsx
  frontend/src/pages/MapView/SearchBar/index.jsx
  frontend/src/redux/actions/map.js
  frontend/src/redux/reducers/map.js
  frontend/src/redux/selectors/map.js
Labels: frontend

#395 Sort Directory Fields
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
  frontend/src/redux/actions/sort.js
  frontend/src/redux/reducers/index.js
  frontend/src/redux/reducers/sort.js
  frontend/src/redux/selectors/resource.js
  frontend/src/utils/enums.js
Labels: frontend

#403 Revised Searching Algorithm
  backend/utils/constants.js
Labels: backend

#390 Fix Add Resource Bug
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/components/Modal/styles.scss
Labels: frontend

#410 Modal Refactor
  frontend/cypress/integration/features/directory.spec.js
  frontend/cypress/integration/features/resource_map.spec.js
  frontend/cypress/integration/features/user_panel.spec.js
  frontend/cypress/support/commands.js
  frontend/src/App.js
  frontend/src/components/Modal/ModalInput/index.jsx
  frontend/src/components/Modal/ModalManager/index.jsx
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/components/Modal/UserModal/index.jsx
Labels: frontend

#412 Bootstrap v4 Upgrade
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  backend/Dockerfile
  frontend/Dockerfile
  frontend/cypress/integration/access_control/volunteer.spec.js
  frontend/cypress/integration/features/directory.spec.js
  frontend/cypress/integration/features/navbar.spec.js
  frontend/cypress/integration/features/user_panel.spec.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Auth/AdminView.jsx
  frontend/src/components/Modal/ModalManager/index.jsx
  frontend/src/components/Modal/index.jsx
  frontend/src/components/Modal/styles.scss
  frontend/src/components/Navbar/index.jsx
  frontend/src/components/Navbar/styles.scss
  frontend/src/pages/AdminView/UserCard/index.jsx
  frontend/src/pages/AdminView/index.jsx
  frontend/src/pages/AdminView/styles.scss
  frontend/src/pages/Auth/Login/index.jsx
  frontend/src/pages/Auth/Pending/index.jsx
  frontend/src/pages/Auth/styles.scss
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/SearchBar/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
  frontend/src/pages/MapView/ActionButtons/index.jsx
  frontend/src/pages/MapView/RadiusFilter/styles.scss
  frontend/src/pages/MapView/ResourceCard/styles.scss
  frontend/src/redux/reducers/tags.js
  frontend/src/redux/selectors/resource.js
  frontend/src/utils/enums.js
Labels: backend, frontend, infrastructure

#418 Export as CSV
  backend/routes/api/resources.js
  frontend/cypress/integration/features/directory.spec.js
  frontend/cypress/integration/features/resource_map.spec.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/images/download.svg
  frontend/src/components/CSVExporter/CSVExporter.jsx
  frontend/src/components/CSVExporter/styles.scss
  frontend/src/pages/Auth/Login/index.jsx
  frontend/src/pages/Auth/Pending/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/MapView/Popup/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
  frontend/src/utils/csv.js
  frontend/src/utils/formatters.js
Labels: backend, frontend

#420 Tag Autocompletion
  .gitignore
  backend/routes/api/resources.js
  frontend/cypress/integration/features/directory.spec.js
  frontend/cypress/integration/features/extra.spec.js
  frontend/cypress/integration/features/resource_map.spec.js
  frontend/cypress/support/commands.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Modal/ModalTagComplete/index.jsx
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/components/Navbar/index.jsx
  frontend/src/components/TagAutocomplete/index.jsx
  frontend/src/pages/DirectoryView/DirectoryTagSearch/index.jsx
  frontend/src/pages/DirectoryView/SearchBar/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
  frontend/src/pages/MapView/CardView/index.jsx
  frontend/src/pages/MapView/Map/index.jsx
  frontend/src/pages/MapView/SearchBar/MapSearchAutocomplete.jsx
  frontend/src/pages/MapView/SearchBar/index.jsx
  frontend/src/pages/MapView/SearchBar/styles.scss
  frontend/src/pages/MapView/index.jsx
  frontend/src/redux/actions/nav.js
  frontend/src/redux/actions/tags.js
  frontend/src/redux/reducers/auth.js
  frontend/src/redux/reducers/loading.js
  frontend/src/redux/reducers/map.js
  frontend/src/redux/reducers/modal.js
  frontend/src/redux/reducers/resources.js
  frontend/src/redux/reducers/search.js
  frontend/src/redux/reducers/sort.js
  frontend/src/redux/reducers/tags.js
  frontend/src/redux/reducers/users.js
  frontend/src/redux/selectors/map.js
  frontend/src/redux/selectors/resource.js
  frontend/src/redux/selectors/tags.js
  frontend/src/utils/api.js
Labels: backend, frontend

#427 Add Availability Column, Virtualize List
  frontend/cypress/integration/access_control/volunteer.spec.js
  frontend/cypress/integration/features/directory.spec.js
  frontend/src/components/TagAutocomplete/index.jsx
  frontend/src/pages/DirectoryView/DirectoryTagSearch/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/ResourceLabels/index.jsx
  frontend/src/pages/DirectoryView/ResourceList/index.jsx
  frontend/src/pages/DirectoryView/ResourceList/styles.scss
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
  frontend/src/redux/selectors/resource.js
  frontend/src/utils/enums.js
Labels: frontend

#428 Extra Information Displayed
  backend/app.js
  backend/models/Resource.js
  backend/routes/api/resources.js
  backend/utils/constants.js
  backend/utils/resource-utils.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Analytics/index.jsx
  frontend/src/components/Modal/LastModifiedInfo/index.jsx
  frontend/src/components/Modal/LastModifiedInfo/styles.scss
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
  frontend/src/redux/selectors/resource.js
  frontend/src/redux/store.js
  frontend/src/utils/api.js
Labels: backend, frontend

#431 Added Third Resource Type
  backend/models/Resource.js
  backend/models/TangibleResource.js
  backend/routes/api/resources.js
  backend/utils/joi-validators.js
  backend/utils/resource-utils.js
  frontend/cypress/integration/features/directory.spec.js
  frontend/src/components/Modal/ModalInput/index.jsx
  frontend/src/components/Modal/ResourceModal/GroupResourceForm.jsx
  frontend/src/components/Modal/ResourceModal/IndividualResourceForm.jsx
  frontend/src/components/Modal/ResourceModal/TangibleResourceForm.jsx
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/components/Modal/UserModal/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/MapView/Popup/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
  frontend/src/redux/reducers/users.js
  frontend/src/redux/selectors/resource.js
  frontend/src/redux/selectors/users.js
  frontend/src/utils/enums.js
Labels: backend, frontend

#443 Resource Icons
  frontend/src/assets/images/business-resource.svg
  frontend/src/assets/images/individual-resource.svg
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/styles.scss
  frontend/src/pages/DirectoryView/ResourceList/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
  frontend/src/pages/MapView/CardView/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
  frontend/src/pages/MapView/ResourceCard/styles.scss
  frontend/src/redux/selectors/resource.js
Labels: frontend

#456 Prop Type Validation
  .eslintrc.json
  frontend/src/components/Analytics/index.jsx
  frontend/src/components/Auth/AdminView.jsx
  frontend/src/components/CSVExporter/CSVExporter.jsx
  frontend/src/components/Loader/mini-loader.jsx
  frontend/src/components/Modal/LastModifiedInfo/index.jsx
  frontend/src/components/Modal/ModalInput/index.jsx
  frontend/src/components/Modal/ModalManager/index.jsx
  frontend/src/components/Modal/ModalTagComplete/index.jsx
  frontend/src/components/Modal/ResourceModal/GroupResourceForm.jsx
  frontend/src/components/Modal/ResourceModal/IndividualResourceForm.jsx
  frontend/src/components/Modal/ResourceModal/TangibleResourceForm.jsx
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/components/Modal/UserModal/index.jsx
  frontend/src/components/Modal/index.jsx
  frontend/src/components/Modal/styles.scss
  frontend/src/components/Navbar/index.jsx
  frontend/src/components/Navbar/styles.scss
  frontend/src/components/PrivateRoute/index.jsx
  frontend/src/components/TagAutocomplete/index.jsx
  frontend/src/pages/AdminView/UserCard/index.jsx
  frontend/src/pages/AdminView/index.jsx
  frontend/src/pages/Auth/Login/index.jsx
  frontend/src/pages/DirectoryView/DirectoryTagSearch/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/ResourceLabels/index.jsx
  frontend/src/pages/DirectoryView/ResourceList/index.jsx
  frontend/src/pages/DirectoryView/SearchBar/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/DirectoryView/styles.scss
  frontend/src/pages/MapView/ActionButtons/index.jsx
  frontend/src/pages/MapView/CardView/index.jsx
  frontend/src/pages/MapView/Map/index.jsx
  frontend/src/pages/MapView/Popup/index.jsx
  frontend/src/pages/MapView/RadiusFilter/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
  frontend/src/pages/MapView/SearchBar/MapSearchAutocomplete.jsx
  frontend/src/pages/MapView/SearchBar/index.jsx
Labels: frontend
