Repository hack4impact-uiuc/life-after-hate, pull requests merged in 2020-02, with the labels that each got.

#132 Added Realistic Mock Data
  .github/workflows/deploy.yml
  assets/mock_data.json
  backend/utils/generate_mock_data.js
  docker-compose.yml
  scripts/lahutil
Labels: backend

#141 Added CLI for changing roles
  backend/app.js
  backend/utils/auth-middleware.js
  docker-compose.yml
  scripts/lahutil
Labels: backend

#139 Conditional Rendering of Edit Functionality for admins
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
  frontend/src/utils/enums.js
Labels: frontend

#143 Display user role in notification
  frontend/src/utils/apiHelpers.js
Labels: frontend

#138 Ec/pending user backend
  backend/models/User.js
  backend/routes/api/users.js
  backend/test/auth_stubs.js
  backend/test/user.test.js
  backend/utils/auth-middleware.js
  backend/utils/passport-setup.js
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
Labels: backend, frontend

#153 add title field to User
  backend/models/User.js
  backend/routes/api/users.js
Labels: backend

#150 modal edit
  frontend/src/components/Modal/index.jsx
Labels: frontend

#147 add a redirection that hides the main page from pending users
  frontend/src/components/PrivateRoute/index.jsx
  frontend/src/pages/Pending/index.jsx
  frontend/src/pages/Pending/styles.scss
Labels: frontend

#152 More Detailed Production-Level Logging
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/resources.js
  backend/routes/api/users.js
  backend/utils/logging-middleware.js
  backend/utils/user-utils.js
  frontend/src/components/Modal/index.jsx
  frontend/src/pages/DirectoryView/SearchBar/index.jsx
  now.json
  package-lock.json
  package.json
Labels: backend, frontend

#159 Added Persistent Session Store
  .github/workflows/docker.yml
  backend/app.js
  backend/package-lock.json
  backend/package.json
  now.json
  scripts/setup_ci.sh
Labels: backend

#158 Ec/add rejected role
  backend/models/User.js
  frontend/src/utils/enums.js
  scripts/lahutil
Labels: backend, frontend

#171 added all files
  frontend/src/assets/images/close3.svg
  frontend/src/pages/MapView/ResourceCard/index.jsx
  frontend/src/pages/MapView/ResourceCard/styles.scss
  frontend/src/pages/MapView/styles.scss
Labels: frontend

#164 Disable editing for non-admins
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/MapView/Popup/index.jsx
Labels: frontend

#170 add reset button for search + styles
  frontend/src/pages/MapView/SearchBar/index.jsx
  frontend/src/pages/MapView/SearchBar/styles.scss
Labels: frontend

#168 add mock user generation
  backend/utils/generate_mock_data.js
Labels: backend
