Repository hack4impact-uiuc/life-after-hate, pull requests merged in 2020-03, with the labels that each got.

#140 Performance Enhancements
  backend/routes/api/resources.js
  backend/utils/resource-utils.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Modal/index.jsx
  frontend/src/pages/MapView/CardView/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
Labels: backend, frontend

#178 Supporting CI Enhancements
  .github/labeler.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yml
  .github/workflows/label.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  frontend/cypress/integration/navbar.spec.js
  frontend/cypress/integration/pending.spec.js
  frontend/cypress/integration/resource_map.spec.js
  frontend/cypress/support/commands.js
  frontend/src/components/Navbar/index.jsx
  frontend/src/pages/MapView/Popup/index.jsx
  frontend/src/pages/Pending/index.jsx
  scripts/lahutil
Labels: frontend, infrastructure

#180 Code Coverage
  .github/workflows/tests.yml
  README.md
  backend/app.js
  backend/package-lock.json
  backend/package.json
  docker-compose.cypress.yml
  frontend/cypress/plugins/index.js
  frontend/cypress/support/index.js
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
  scripts/get_coverage.sh
Labels: backend, frontend, infrastructure

#176 Prevent navbar from rendering twice
  frontend/src/components/PrivateRoute/index.jsx
Labels: frontend

#184 Fix panel card and edit permissions without title
  backend/routes/api/users.js
  frontend/src/pages/MapView/CardView/index.jsx
Labels: backend, frontend

#185 Upload Coverage Artifacts
  .github/workflows/tests.yml
Labels: infrastructure

#186 Added directory view Cypress tests
  frontend/cypress/integration/directory.spec.js
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
Labels: frontend

#183 Jab/admin panel tweaks
  frontend/src/App.js
  frontend/src/components/PrivateRoute/index.jsx
  frontend/src/pages/AdminView/index.jsx
  frontend/src/redux/actions/users.js
  frontend/src/redux/reducers/users.js
  frontend/src/redux/selectors/users.js
  frontend/src/utils/enums.js
Labels: frontend

#189 changed login to functional component, added redirect if authed
  frontend/src/pages/Login/index.jsx
Labels: frontend

#195 Hotfix Last Name Issue
  backend/models/User.js
Labels: backend

#192 Jab/resource type split
  backend/models/Resource.js
  backend/routes/api/resources.js
  backend/test/resource.test.js
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/utils/enums.js
Labels: backend, frontend

#188 added user filter option 'all', made it default
  frontend/src/pages/AdminView/index.jsx
  frontend/src/redux/reducers/users.js
  frontend/src/redux/selectors/users.js
  frontend/src/utils/enums.js
Labels: frontend

#199 Cursor fixed on expanded card
  frontend/src/pages/MapView/ResourceCard/styles.scss
Labels: frontend

#202 Disabled search until loader stops
  frontend/src/pages/DirectoryView/SearchBar/index.jsx
Labels: frontend

#193 add validation and styling to indicate when the resource form is filled properly
  frontend/cypress/integration/directory.spec.js
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/components/Modal/styles.scss
Labels: frontend

#204 Hotfix mock user issue
  assets/mock_user_data.json
  backend/utils/generate_mock_data.js
Labels: backend
