Repository hack4impact-uiuc/life-after-hate, pull requests merged in 2020-04, with the labels that each got.

#205 set tab indices for search inputs and buttons
  frontend/src/pages/MapView/SearchBar/index.jsx
Labels: frontend

#198 Ag jb/191 split address
  assets/mock_data.json
  backend/models/Resource.js
  backend/routes/api/resources.js
  backend/test/resource.test.js
  backend/utils/generate_mock_data.js
  backend/utils/resource-utils.js
Labels: backend

#194 Bulk Resource Import
  backend/models/Resource.js
  backend/package-lock.json
  backend/package.json
  backend/utils/volunteer-sheet-parser.js
Labels: backend

#187 Mass Upgrading Dependencies
  .github/workflows/tests.yml
  assets/mock_data.json
  backend/models/Resource.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/resources.js
  backend/test/resource.test.js
  backend/utils/generate_mock_data.js
  backend/utils/resource-utils.js
  backend/utils/volunteer-sheet-parser.js
  docker-compose.cypress.yml
  docker-compose.yml
  frontend/cypress/integration/resource_map.spec.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/MapView/Map/index.jsx
  frontend/src/pages/MapView/SearchBar/index.jsx
  frontend/src/pages/MapView/styles.scss
  frontend/src/utils/api.js
  package-lock.json
  package.json
Labels: backend, frontend, infrastructure

#220 Mass dependency upgrade pt 2
  .eslintrc.json
  backend/app.js
  backend/models/User.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/auth/login.js
  backend/routes/api/auth/logout.js
  backend/routes/api/sample.js
  backend/routes/api/test.js
  backend/routes/api/users.js
  backend/test/auth_stubs.js
  backend/test/user.test.js
  backend/utils/auth-middleware.js
  backend/utils/constants.js
  backend/utils/error-handler.js
  backend/utils/error-wrap.js
  backend/utils/logging-middleware.js
  backend/utils/passport-setup.js
  backend/utils/resource-utils.js
  backend/utils/user-utils.js
  frontend/cypress/integration/directory.spec.js
  frontend/cypress/integration/navbar.spec.js
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/MapView/ResourceCard/styles.scss
  frontend/src/redux/actions/api.js
  frontend/src/redux/actions/auth.js
  frontend/src/redux/actions/map.js
  frontend/src/redux/actions/modal.js
  frontend/src/redux/actions/resources.js
  frontend/src/redux/actions/users.js
  frontend/src/redux/middleware/api_middleware.js
  frontend/src/redux/reducers/index.js
  frontend/src/redux/reducers/map.js
  frontend/src/redux/reducers/modal.js
  frontend/src/redux/selectors/map.js
  frontend/src/redux/selectors/modal.js
  frontend/src/redux/selectors/resource.js
  frontend/src/redux/selectors/users.js
  frontend/src/serviceWorker.js
  frontend/src/utils/api.js
  frontend/src/utils/apiHelpers.js
  frontend/src/utils/enums.js
  package-lock.json
  package.json
Labels: backend, frontend

#229 Add Pointer on Hover
  frontend/src/pages/MapView/Map/index.jsx
  frontend/src/pages/MapView/Pin/index.jsx
Labels: frontend

#228 Security Defaults
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/index.js
  backend/routes/api/sample.js
  backend/utils/passport-setup.js
  backend/utils/resource-utils.js
Labels: backend

#227 Additional Cypress Testing
  frontend/cypress/integration/extra.spec.js
  frontend/cypress/integration/navbar.spec.js
  frontend/cypress/integration/pending.spec.js
  frontend/cypress/integration/resource_map.spec.js
  frontend/cypress/integration/user_panel.spec.js
  frontend/cypress/integration/volunteer.spec.js
  frontend/src/components/Modal/UserModal/index.jsx
  frontend/src/pages/AdminView/index.jsx
  frontend/src/pages/MapView/CardView/index.jsx
  frontend/src/pages/MapView/SearchBar/index.jsx
  frontend/src/utils/apiHelpers.js
  package.json
Labels: frontend

#251 Parser Fail-Fast Update
  backend/utils/volunteer-sheet-parser.js
Labels: backend

#226 Edit/View Cards
  frontend/cypress/integration/navbar.spec.js
  frontend/cypress/integration/resource_map.spec.js
  frontend/cypress/integration/volunteer.spec.js
  frontend/src/assets/images/edit-black.svg
  frontend/src/assets/images/edit.svg
  frontend/src/assets/images/expand-black.svg
  frontend/src/assets/images/expand.svg
  frontend/src/assets/images/pencil-edit-button-black.svg
  frontend/src/assets/images/pencil-edit-button.svg
  frontend/src/pages/AdminView/UserCard/index.jsx
  frontend/src/pages/AdminView/styles.scss
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/MapView/ActionButtons/index.jsx
  frontend/src/pages/MapView/Popup/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
  frontend/src/pages/MapView/ResourceCard/styles.scss
  frontend/src/pages/MapView/styles.scss
Labels: frontend

#252 Production Readiness for Migration
  .github/workflows/deploy.yml
  backend/utils/passport-setup.js
  frontend/cypress/integration/access_control/pending.spec.js
  frontend/cypress/integration/access_control/rejected.spec.js
  frontend/cypress/integration/access_control/volunteer.spec.js
  frontend/cypress/integration/features/directory.spec.js
  frontend/cypress/integration/features/extra.spec.js
  frontend/cypress/integration/features/navbar.spec.js
  frontend/cypress/integration/features/resource_map.spec.js
  frontend/cypress/integration/features/user_panel.spec.js
Labels: backend, frontend, infrastructure

#211 Ag/tag filter frontend
  .eslintrc.json
  frontend/core
  frontend/src/pages/MapView/CardView/index.jsx
  frontend/src/pages/MapView/Map/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
  frontend/src/pages/MapView/ResourceCard/styles.scss
  frontend/src/pages/MapView/SearchBar/index.jsx
  frontend/src/pages/MapView/SearchBar/styles.scss
  frontend/src/pages/MapView/index.jsx
  frontend/src/pages/MapView/styles.scss
  frontend/src/redux/actions/tags.js
  frontend/src/redux/reducers/index.js
  frontend/src/redux/reducers/tags.js
  frontend/src/redux/selectors/resource.js
  frontend/src/redux/selectors/tags.js
  frontend/src/utils/api.js
Labels: backend, frontend, infrastructure

#262 Schema Change
  backend/models/GroupResource.js
  backend/models/IndividualResource.js
  backend/models/Resource.js
  backend/routes/api/resources.js
  backend/test/resource.test.js
  backend/utils/constants.js
  backend/utils/generate_mock_data.js
  backend/utils/joi-validators.js
  backend/utils/resource-utils.js
  backend/utils/volunteer-sheet-parser.js
  frontend/cypress/integration/features/directory.spec.js
  frontend/cypress/integration/features/resource_map.spec.js
  frontend/public/robots.txt
  frontend/src/components/Modal/ResourceModal/index.jsx
  frontend/src/pages/DirectoryView/ResourceCard/index.jsx
  frontend/src/pages/DirectoryView/index.jsx
  frontend/src/pages/MapView/CardView/index.jsx
  frontend/src/pages/MapView/Map/index.jsx
  frontend/src/pages/MapView/Popup/index.jsx
  frontend/src/pages/MapView/ResourceCard/index.jsx
  frontend/src/pages/MapView/styles.scss
  frontend/src/redux/selectors/map.js
  frontend/src/redux/selectors/modal.js
  frontend/src/redux/selectors/resource.js
  frontend/src/utils/api.js
  now.json
Labels: backend, frontend, infrastructure
